main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;

}

main h1 {
  padding: 35px 96px 0 96px;
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}

main h2 {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 2px 8px #3b3b3b;
  text-align: center;
  text-transform: uppercase;
}

#list-students {
  padding: 49px 96px 114px 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.card:hover {
  scale: 1.1;
}

.card-studying {
  background-color: var(--primary-color);
}

.card-finalized {
  background-color: var(--status-finished-color);
}

.card {
  width: 201px;
  height: 300px;
  padding: 0 12px;
  box-shadow: 5px 3px 12px #979696;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.filters {
  width: 100%;
  height: 50px;
  background-color: var(--filter-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 96px;
}

.legend {
  width: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}

.legend span {
  color: var(--primary-color);
  font-weight: 500;
}

.legend-span {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

.content-finalized {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content-studying {
  display: flex;
  align-items: center;
  gap: 8px;
}

.box-finalized {
  height: 20px;
  width: 20px;
  background-color: var(--status-finished-color);
  box-shadow: 5px 3px 12px #979696;
}

.box-studying {
  height: 20px;
  width: 20px;
  background-color: var(--primary-color);
  box-shadow: 5px 3px 12px #979696;
}

option {
  background-color: var(--primary-color);
  color: #FFF;
}

select {
  background-color: var(--filter-color);
  border: none;
  border-bottom: 3px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
  appearance: none;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 30px 4px 8px;
  cursor: pointer;
}

#select {
  display: flex;
  gap: 13px;
}

.image-student {
  width: 200px;
  height: 200px;
}

@media (max-width: 1480px) {
  body {
    grid-template-rows: 10vh auto 20vh;
  }
}

@media (max-width: 1030px) {
  body {
    grid-template-rows: 10vh auto 20vh;
  }
}

@media (max-width: 760px) {
  .title-class {
    font-size: 3rem;
  }

  body {
    grid-template-rows: 10vh auto auto;
  }

  .filters {
    height: auto;
    padding: 11px 96px;
  }

  #select {
    flex-direction: column;
  }

  .legend {
    flex-direction: column;
    gap: 10px;
  }

  .content-finalized {
    place-self: start;
  }
}

@media (max-width: 600px) {
  main {
    gap: 30px;
  }

  .filters {
    padding: 13px 20px;
  }

  .title-class {
    padding: 20px;
    font-size: 2.5rem;
  }

  #list-students {
    padding: 0px 96px 114px 96px;
  }

}

@media (max-width: 410px) {
  #list-students {
    padding: 0px 20px 114px 20px;
  }
}

@media (max-width: 366px) {
  select {
    padding: 8px 0px 4px 8px;
  }

  .title-class {
    padding: 5px;
    font-size: 1.9rem;
  }
}