header i {
    font-size: 1.5rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.name-school{
    display: flex;
    flex-direction: column;
    cursor: default;
    transition: all 400ms ease-in-out;
}

.name-school:hover{
    text-shadow: 1px 1px 10px #fff;
    transform: scale(1.1);

}

.logo span{
    font-size: 1.5rem;
    font-weight: 700;
}

.out a{
    display: flex;
    align-items: center;
    gap: 12px;
}

.out__text{
    font-size: 2rem;
    font-weight: 500;
}

@media (max-width: 600px) {
    header{
        padding: 13px 20px
    }

  .out__text{
    display: none;
  }

  .out a i{
    font-size: 2rem;
  }

  .title h1{
    font-size: 2rem;
  }

}

@media (max-width: 489px) {
    header{
        padding: 13px 20px;
    }
    
    .name-school {
        display: none;
    }
}