main{
    grid-area: main;
    padding: 100px 105px 60px 105px;
    display: flex;
    align-items: center;
    justify-content: space-around; 

}

main h3{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.125rem;  
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 2px 8px #888888;
}

article{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 12px #bebebe;
    transition: all 400ms ease-in-out;
}

article:hover{
    transform: scale(1.05);
}

.image-student-select{
    width: 400px;
    height: 400px;
}

.graphic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    box-shadow: 1px 1px 12px #bebebe;
    padding: 71px;
    rotate: -90deg; 
    transition: all 400ms ease-in-out;
}

.graphic:hover {
    transform: scale(1.05);
}

#graphic-student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
   
}

.disciplines-span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
    width: 355px;
}

.span-bar {
    font-size: 18px;
    gap: 38px;
    font-weight: 700;
    text-shadow: 1px 2px 8px #888888;
    width: 24px;
}

.progress-bar {
    display: block;
    appearance: none;
    width: 300px;
    
 
}

.progress-bar::-webkit-progress-bar {
    background-color: #EEEFF8;;
}

.progress-bar-red::-webkit-progress-value {
    background-color: #C11010;
    box-shadow: 1px 0px 20px #C11010;
    border-radius: 0 4px 4px 0;
}

.progress-bar-blue::-webkit-progress-value {
    background-color: var(--primary-color);
    box-shadow: 1px 0px 20px var(--primary-color);
    border-radius: 0 4px 4px 0;
}

.progress-bar-yellow::-webkit-progress-value {
    background-color: #E5B657;
    box-shadow: 1px 0px 20px #E5B657;
    border-radius: 0 4px 4px 0;
}

.color-red{
    color: #C11010;
}

.color-blue{
    color: var(--primary-color);
}

.color-yellow{
    color: #E5B657;
}

.content-elements-graphic{
    display: flex;
    align-items: center;
    height: auto;
    gap: 16px;
}

.rotate{
    rotate: 90deg;
}
