body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 10vh 75vh 15vh;
    color: #FFF;
}

header{
    grid-area: header;
    width: 100%;
    padding: 13px 96px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    grid-area: footer;
    width: 100%;
    padding: 13px 96px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}