body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 100px 1fr 140px;
}

header{
    grid-area: header;
    width: 100%;
    padding: 13px 96px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    grid-area: main;
    padding: 98px 96px;
    display: grid;
    grid-template-columns: 40% 25% 35%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
     "title image2 card"
     "image1 image2 card";
}

footer{
    grid-area: footer;
    width: 100%;
    padding: 13px 96px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}